.loginpageGrid {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: center;
  max-width: 600px;
  padding: 20px;
}

.adminpageGrid {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: space-between;
  max-width: 600px;
  padding: 20px;
}

.userpageGrid {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: space-between;
  max-width: 600px;
  padding: 20px;
}

.listItems {
  flex-basis: auto;
  margin: 0px;
  padding: 10px;
  border-color: black;
  text-align: start;
}
